# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
*.log

# Streamlit
.streamlit/secrets.toml

# Uploaded resumes
uploads/*
!uploads/.gitkeep

# Reports (Generated)
reports/*.pdf
reports/*.docx

# Temporary files
*.tmp
*.bak